<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    //
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    //
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.FBApplication"
        tools:targetApi="31">
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".majTacheColActivity"
            android:exported="false" />
        <activity
            android:name=".listeTacheColActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviTacheColActivity"
            android:exported="false" />
        <activity
            android:name=".MenuColActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviTacheAdmActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviAdmActivity"
            android:exported="false" />
        <activity
            android:name=".menuSuiviAdmActivity"
            android:exported="false" />
        <activity
            android:name=".listecolActivity"
            android:exported="false" />
        <activity
            android:name=".MenuPProjetActivity"
            android:exported="false" />
        <activity
            android:name=".majCHProjetActivity"
            android:exported="false" />
        <activity
            android:name=".CHDataFSActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCHProjetActivity"
            android:exported="false" />
        <activity
            android:name=".majProjetChefActivity"
            android:exported="false" />
        <activity
            android:name=".listeChefActivity"
            android:exported="false" />
        <activity
            android:name=".MajChefProjetActivity"
            android:exported="false" />
        <activity
            android:name=".ChefProjetActivity"
            android:exported="false" />
        <activity
            android:name=".ListeChefProjetActivity"
            android:exported="false" />
        <activity
            android:name=".MenuChefProjetActivity"
            android:exported="false" />
        <activity
            android:name=".MenuChefActivity"
            android:exported="false" />
        <activity
            android:name=".lCollabActivity"
            android:exported="false" />
        <activity
            android:name=".listeroleActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviTacheTActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviTacheActivity"
            android:exported="false" />
        <activity
            android:name=".ImageActivity"
            android:exported="false" />
        <activity
            android:name=".listeprtActivity"
            android:exported="false" />
        <activity
            android:name=".listesttActivity"
            android:exported="false" />
        <activity
            android:name=".listeavtActivity"
            android:exported="false" />
        <activity
            android:name=".listeavActivity"
            android:exported="false" />
        <activity
            android:name=".listeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DataFSActivity"
            android:exported="false" />
        <activity
            android:name=".detSuiviActivity"
            android:exported="false" />
        <activity
            android:name=".menuSuiviActivity"
            android:exported="false" />
        <activity
            android:name=".barActivity"
            android:exported="false" />
        <activity
            android:name=".listeCollabActivity"
            android:exported="false" />
        <activity
            android:name=".majTacheActivity"
            android:exported="false" />
        <activity
            android:name=".listeTacheActivity"
            android:exported="false" />
        <activity
            android:name=".MenuTacheActivity"
            android:exported="false" />
        <activity
            android:name=".PrjActivity"
            android:exported="false" />
        <activity
            android:name=".majProjetActivity"
            android:exported="false" />
        <activity
            android:name=".majCollabActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCollabActivity"
            android:exported="false" />
        <activity
            android:name=".DataActivity"
            android:exported="false" />
        <activity
            android:name=".listeProjetActivity"
            android:exported="false" />
        <activity
            android:name=".MenuProjetActivity"
            android:exported="false" />
        <activity
            android:name=".CollabActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ProjetActivity"
            android:exported="false" />
        <activity
            android:name=".TacheActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>