<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FBApplication"
        tools:targetApi="31">
        <activity
            android:name=".detSuiviActivity"
            android:exported="false" />
        <activity
            android:name=".menuSuiviActivity"
            android:exported="false" />
        <activity
            android:name=".barActivity"
            android:exported="false" />
        <activity
            android:name=".viewcolActivity"
            android:exported="false" />
        <activity
            android:name=".listeCollabActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.listeCollabActivity"
            android:exported="false"
            android:label="@string/title_activity_liste_collab" />
        <activity
            android:name=".majTacheActivity"
            android:exported="false" />
        <activity
            android:name=".listeTacheActivity"
            android:exported="false" />
        <activity
            android:name=".menuTacheActivity"
            android:exported="false" />
        <activity
            android:name=".PrjActivity"
            android:exported="false" />
        <activity
            android:name=".majProjetActivity"
            android:exported="false" />
        <activity
            android:name=".majCollabActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCollabActivity"
            android:exported="false" />
        <activity
            android:name=".DataActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".modProjetActivity"
            android:exported="false" />
        <activity
            android:name=".SupProjetActivity"
            android:exported="false" />
        <activity
            android:name=".listeProjetActivity"
            android:exported="false" />
        <activity
            android:name=".MenuProjetActivity"
            android:exported="false" />
        <activity
            android:name=".CollabActivity"
            android:exported="false" />
        <activity
            android:name=".SuiviActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ProjetActivity"
            android:exported="false" />
        <activity
            android:name=".TacheActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>